<div class="wrapper">
    <mat-card>
        <img src="../../../assets/Pizza-logo-design-template-Vector-PNG.png" alt="Pizza Logo" height="100%" width="600px" mat-card-image>
        <mat-card-actions>
            @if(isLoggedIn()){
                <button mat-fab extended color="primary" routerLink="/pizza-maker">
                    Make your pizza!
                </button>
            }
        </mat-card-actions>
    </mat-card>
    <h1>
        Don't know what ingridients to choose? Get inspired by our most popular pizzas...
    </h1>
    <app-pizza-cards />
</div>